/* base/_typography.scss */

body {
  font-family: var(--wp--preset--font-family--font-main);
  font-size: var(--wp--preset--font-size--normal);
  line-height: var(--wp--custom--typography--line-height--body);
  color: var(--wp--preset--color--text-main);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--wp--preset--font-family--font-main);
  font-weight: 600;
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration-skip-ink: auto;
}