@use "back-to-top";
@use "blocks";

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/*
hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
*/

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%;Makesureimagesarescaledcorrectly.max-width // Adhere to container width.
}

figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}

hr {
    width: 760px;
    max-width: 100%;
    border: none;
    // border-bottom: 1px solid $davys-grey;border-bottom
    margin-left: auto;
    margin-right: auto;
}