footer {
    position: relative;
    z-index: 1;
    border-top: none; 
    background: $color__background-footer;
    color: $color__text-footer;
    margin-top: 8rem;
    
    // the below 3 styles create our diagonal top
    &:before,
    &:after {
        background: inherit;
        content: '';
        display: block;
        height: 75%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
    }
    
    &:before {
        top: 0;
        transform: skewY(-4deg);
        transform-origin: 0% 0;
    }
    
    &:after {
        bottom: 0;
        transform: skewY(0deg);
        transform-origin: 100%;
    }    

    /**
     * Style our footer "sidebar"
     */    
    .emdb-footer-sidebar {
        > .widget_block {
            margin-left: 2rem;
            margin-right: 2rem;
        }
/*
        width: 100%;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        margin-right: 30px;
        margin-left: 30px;
        
        @include rbp(tablet) {
            margin-right: 0px;
            margin-left: 0px;
        }
*/
          
        h3 {
            font-size: 16px;
            margin-bottom: 10px;
            padding: 10px 0px;
            color: $color__text-footer;
            text-transform: uppercase;            
        }
        
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0; 
        }
        
        a,
        a:visited {
            color: $color__link-footer;
            text-decoration: none;        
        }
        
        a:focus,
        a:hover {
            color: $color__link-footer-hover;
            text-decoration: none;                
        }
        
        .connect-social {
            text-align: center;
            
            .wp-block-social-links {
                justify-content: center;
            }
        }
    }
    
    .copyright {
        padding: 10px 0;
        text-align: center;
        margin: 20px 0 0 0;
        color: $color__text-footer; 
    }   
}
