.site-header {
    position: fixed;
    width: 100%;
    z-index: 99;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
//     background: $color__background-header;
     
    .site-branding {
        .navbar-brand {
            color: $color__text-navbar-brand;
            font-size: 18px;
            line-height: 20px;
            text-decoration: none;
        }
    }
}

.archive-header,
.single .post,
.page-posts-grid,
.author-header,
.page-header,
.error404 article {
    padding-top: 135px;    
}

.archive.author .page-posts-grid,
.archive.category .page-posts-grid,
.archive.tag .page-posts-grid,
.search-results .page-posts-grid {
    padding-top: 0;
}