.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--wp--preset--color--white);
     
    .site-branding {
        .navbar-brand {
            font-size: 18px;
            line-height: 20px;
            text-decoration: none;
        }
    }
}

/*
.archive-header,
.single .post,
.page article.page,
// .page-posts-grid,
// .emdb-block-posts-grid,
.author-header,
.page-header,
.error404 article {
    padding-top: 135px;    
}
*/

// wp-container-8 entry-content 
main.wp-block-group {
    padding-top: 135px;
}

/*
.archive.author .page-posts-grid,
.archive.category .page-posts-grid,
.archive.tag .page-posts-grid,
.search-results .page-posts-grid {
    padding-top: 0;
}
*/