.site-header {
    position: fixed;
    width: 100%;
    z-index: 99;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color__background-header;
     
    .site-branding {
        .navbar-brand {
            color: $color__text-navbar-brand;
            font-size: 18px;
            line-height: 20px;
            text-decoration: none;
        }
    }
}

.main-content,
.blog .blog-page-posts,
.author-header,
.archive-header,
.error404 article,
.search .page-header,
.single .post {
    padding-top: 135px;
}