/**
 * Basic layout
 */
.page-content,
.entry-content {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto; 

    @include bp(mobile) {
        max-width: 96%;
    } 
    
    @include bp(tablet-s) {
        max-width: 570px;
    }   

    @include bp(tablet) {
        max-width: 720px;
    }
    
    @include bp(desktop) {
        max-width: 960px;
    }
    
    @include bp(desktop-m) {
        max-width: 1140px;
    }        

    @include bp(desktop-w2) {
        max-width: 1320px;
    } 
}
 
/*
.page-content,
.entry-content {
    margin-right: calc(1.5rem / -2);
    margin-left: calc(1.5rem / -2);     
} 



.grid-row {
    margin-right: calc(1.5rem / -2);
    margin-left: calc(1.5rem / -2);    
}

.grid-cols {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(1.5rem / -2);
    margin-left: calc(1.5rem / -2);    
}

.grid-col {
  flex: 1 0 0%;
}
*/
