.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--wp--preset--color--white);
     
    .site-branding {
        .wp-block-image {
            margin: 0;
            
            figure {
                margin: 1em 0;
            }
        }
        
        .navbar-brand {
            font-size: 18px;
            line-height: 20px;
            text-decoration: none;
        }
    }
}

main.wp-block-group {
    padding-top: 161px;
}

.logged-in admin-bar main.wp-block-group {
    padding-top: 135px;
}