/**
 * Basic layout
 */
.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator),
.wp-block-group.post-meta,
.wp-block-post-title,
.emdb-layout-wrap,
.emdb-block-archive-title,
.emdb-block-posts-grid,
.emdb-footer-wrapper {     
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto; 

    // @include bp(mobile) {
    //     max-width: 96%;max-width
    // } 
    
    // @include bp(tablet-s) {
    //     max-width: 570px;max-width
    // }   

    // @include bp(tablet) {
    //     max-width: 720px;max-width
    // }
    
    // @include bp(desktop) {
    //     max-width: 960px;max-width
    // }
    
    // @include bp(desktop-m) {
    //     max-width: 1140px;max-width
    // }        

    // @include bp(desktop-w2) {
    //     max-width: 1320px;max-width
    // } 
}