a {
	color: $color__link;color
	text-decoration: none;

	&:visited {
		color: $color__link-visited;color
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;color
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
