/**
 * General block classes
 */
.alignfull {
	margin: 0 calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}

.alignwide {
	margin: 32px calc(25% - 25vw);
	max-width: 100vw;
	width: 100vw;
}

@media (max-width: 920px) {
	.alignwide {
		margin: 32px calc( ( 767px - 920px ) / 2 );
		max-width: 920px;
		width: 920px;
	}
}

/**
 * ACF Tagline Block
 */
.entry-content .emdb-block-tagline {
    margin-bottom: 3rem;
    color: #fff;
    text-align: center;     

    .tagline-wrapper {
        padding: 1.5rem;
    }

    .image-wrapper {
        margin-bottom: 1rem;

        img {
            width: 150px;
        }
    }

    .title-wrap {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: 0em;
        text-transform: uppercase; 
    }
}

/**
 * ACF Home Grid Block
 */
.emdb-block-home-grid {
    .image-wrap {
        background-size: cover !important;
        width: 100%;
        height: 400px; 
    }
    
    figure img {
        object-fit: cover;
        object-position: top center;
        aspect-ratio: 16/9;        
    }
    
    .more-articles {
        width: 100%;
        text-align: center;
      
        a {
            background-color: #eee;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 700;
            font-size: 1rem;
            letter-spacing: 1px;
            padding: 7px 15px;
            border-radius: 5px;
            border: none;          
        }
    }    
}

// the !important should be handled by a theme.json file in the future.
.wp-block-dwb-post-header .header-content {
	color: $white !important;
	background-color: #5CC3FF !important;    
	
	.meta {
    	a {
        	color: $white;
    	}
	}
}