.alignfull {
	margin: 0 calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}

.alignwide {
	margin: 32px calc(25% - 25vw);
	max-width: 100vw;
	width: 100vw;
}

@media (max-width: 920px) {
	.alignwide {
		margin: 32px calc( ( 767px - 920px ) / 2 );
		max-width: 920px;
		width: 920px;
	}
}

.wp-block-dwb-home-grid-block {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* 
 * DigiWatts Post Header block
 */
.wp-block-dwb-post-header {
    margin-bottom: 3rem;
}

// the !important should be handled by a theme.json file in the future.
.wp-block-dwb-post-header .header-content {
	color: $white !important;
	background-color: #5CC3FF !important;    
	
	.meta {
    	a {
        	color: $white;
    	}
	}
}

.home .wp-block-dwb-tagline-block {
    padding-top: 135px;
}

.wp-block-query .wp-block-post-template.is-flex-container .wp-block-post-featured-image img {
    object-fit: cover;
    object-position: top center;
    aspect-ratio: 16/9;
}

.wp-block-post-template, .wp-block-query-loop {
    margin: 0;
}