<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
    <!-- wp:acf/archive-title {"id":"block_62b4bb8b8a674","name":"acf/archive-title","data":{"field_62b4bb591eb63":"Articles related to:"},"align":"","mode":"preview"} /-->
    
    <!-- wp:acf/posts-grid {"id":"block_62b07fcf18db0","name":"acf/posts-grid",
        "data":{
            "posts_per_page":"10",
            "_posts_per_page":"field_62b078220d0f2",
            "post_type":"",
            "_post_type":"field_62b07e225f884",
            "columns":"2",
            "_columns":"field_62b07e4a5f885",
            "order_by":"date/desc",
            "_order_by":"field_62b07e745f886",
            "sticky_posts":"0",
            "_sticky_posts":"field_62b07ef05f887",
            "categories":"",
            "_categories":"field_62b07f265f889",
            "tags":"",
            "_tags":"field_62b07f2d5f88a",
            "authors":"",
            "_authors":"field_62b07f335f88b",
            "keyword":"",
            "_keyword":"field_62b07f385f88c",
            "text_color":"#000000",
            "_text_color":"field_62b086414293a",
            "background_color":"",
            "_background_color":"field_62b0865f4293b"
        },"align":"","mode":"preview"} /-->
        
    <!-- wp:acf/page-nav {"id":"block_62b4c47bd3979","name":"acf/page-nav","data":{"field_62b4bd7ef1b62":""},"align":"","mode":"preview"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->