<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:acf/posts-grid {"id":"block_62b07fcf18db0","name":"acf/posts-grid","data":{"posts_per_page":"10","_posts_per_page":"field_62b078220d0f2","post_type":"","_post_type":"field_62b07e225f884","columns":"2","_columns":"field_62b07e4a5f885","order_by":"date/desc","_order_by":"field_62b07e745f886","sticky_posts":"0","_sticky_posts":"field_62b07ef05f887","filters_categories":"","_filters_categories":"field_62b07f265f889","filters_tags":"","_filters_tags":"field_62b07f2d5f88a","filters_authors":"","_filters_authors":"field_62b07f335f88b","filters_keyword":"","_filters_keyword":"field_62b07f385f88c","filters":"","_filters":"field_62b07f0a5f888","":{"field_62b07f695f88e":"#000000","field_62b07f845f88f":"#FFFFFF"},"_":"field_62b07f495f88d"},"align":"","mode":"preview"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
