/**
 * Primary Navigation
 */
 
.main-navigation {
    .menu {
        list-style-type: none;
        background: $color__background-navigation;
        display: flex;
        margin: 0;
        padding: 0;
        
        .menu-item {
            padding: 5px 10px;
            
            &.current_page_item,
            &.current-menu-ancestor {
                > a {
                    color: $color__link-navigation-current-item;
                }
            }
        }
        
        > .menu-item {
            position: relative;
            background: $color__background-navigation;
            
            &:hover {
                > .sub-menu {
                    display: block;
                }    
            }
        }
        
        .sub-menu {
            display: none;
            left: 0;
            margin: 0 0 0 5px;
            padding: 0;
            min-width: max-content;
            position: absolute;
            top: 100%;
            padding-top: 3px;
            transition: all 0.5s ease;
            z-index: 88888; 
            list-style-type: none; 
            border: 1px solid $color__navigation-sub-menu-border;
            background: $color__background-navigation-sub-menu; 
            
            .menu-item {
                &.menu-item-has-children {
                    .sub-menu {
                        display: block;
                    }
                }
                
                a {
                    color: $color__link-navigation-sub-menu;
                }
            }        
        }

        a {
            text-decoration: none;
            color: $color__link-navigation;
            
            &:hover,
            &:active {
                color: $color__link-navigation-current-item;
            }
        }        
    }
}
 
/*
 
.main-navigation {


    	@media only screen and (min-width: 580px) {
//             display: inline-block !important;
            position: relative;
            right: auto;
            z-index: 0;
            margin-top: 0;
            padding: 0;        
            background: transparent;
            min-width: inherit;
            
            li {
                float: left;
                background: transparent;
                margin-left: 30px;
                
                a {
                    color: $color__link-navigation;
                    
                    &:hover,
                    &:active {
                        color: $color__link-navigation-current-item;
                    }
                }
                
                &.current_page_item {
                    a {
                        color: $color__link-navigation-current-item;
                    }
                }                
            }    
        } 

    } 
}
*/

.toggle-nav,
.toggle-nav:hover,
.toggle-nav:visited,
.toggle-nav:active {
    text-decoration: none;
    color: $color__text-toggle-nav;
    display: none;
    margin-right: 5px;
    font-size: 1.5em;
    
	@media only screen and (max-width: 580px) {
        display: inline-block;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
		margin-top: 15px;
	}

	.nav-previous,
	.prev-post {
		flex: 1 0 50%;
	}

	.nav-next,
	.next-post {
		text-align: end;
		flex: 1 0 50%;
	}
	
	a {
    	text-decoration: none;
    	color: $color__link-navigation;
	}
}
