/**
 * Primary Navigation
 *
 * mmobile first design
 *
 */
 
.main-navigation {
    .menu {
        display: none;
        position: absolute;
        right: 0px;
        z-index: 999;
        background: $color__background-navigation-mobile;
        padding: 10px;
        margin-top: 48px; 
        list-style-type: none; 
        
        .menu-item {
            display: block;
            background: $color__background-navigation-mobile;
            
            .sub-menu {
                padding: 0;
                margin: 0;               
            }
            
            a {
                text-decoration: none;
                color: $color__link-navigation-mobile;
                
                &:hover,
                &:active {
                    color: $color__link-navigation-mobile-current-item;
                }
            }
            
            &.current-menu-item {
                a {
                    color: $color__link-navigation-mobile-current-item;
                }
            }   
        } 
        
        > .menu-item {
            border-bottom: 1px solid $color__navigation-menu-item-border;
            padding-bottom: 7px;
            margin-top: 7px;    
            
            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
                     
/*
        list-style-type: none;
        background: $color__background-navigation;
        display: flex;
        margin: 0;
        padding: 0;
*/
                
        
/*
        .menu-item {
            padding: 5px 10px;
            
            &.current_page_item,
            &.current-menu-ancestor {
                > a {
                    color: $color__link-navigation-current-item;
                }
            }
        }
        
        > .menu-item {
            position: relative;
            background: $color__background-navigation;
            
            &:hover {
                > .sub-menu {
                    display: block;
                }    
            }
        }
        
        .sub-menu {
            display: none;
            left: 0;
            margin: 0 0 0 5px;
            padding: 0;
            min-width: max-content;
            position: absolute;
            top: 100%;
            padding-top: 3px;
            transition: all 0.5s ease;
            z-index: 88888; 
            list-style-type: none; 
            border: 1px solid $color__navigation-sub-menu-border;
            background: $color__background-navigation-sub-menu; 
            
            .menu-item {
                &.menu-item-has-children {
                    .sub-menu {
                        display: block;
                    }
                }
                
                a {
                    color: $color__link-navigation-sub-menu;
                }
            }        
        }

        a {
            text-decoration: none;
            color: $color__link-navigation;
            
            &:hover,
            &:active {
                color: $color__link-navigation-current-item;
            }
        }
*/        
    
/*
    	@media only screen and (min-width: 580px) {
            display: inline-block; // important?
            //position: relative;
            position: absolute;
            right: auto;
            z-index: 99;
            margin-top: 0;
            padding: 0;        
            background: transparent;
            min-width: inherit; //
            width: 100%;
            
            li {
                float: left;
                background: transparent;
                margin-left: 30px;
                
                a { //
                    color: $color__link-navigation;
                    
                    &:hover,
                    &:active {
                        color: $color__link-navigation-current-item;
                    }
                }
                
                &.current_page_item { //
                    a {
                        color: $color__link-navigation-current-item;
                    }
                }                
            }    
        } 
*/ 
    }   
}
.toggle-nav,
.toggle-nav:hover,
.toggle-nav:visited,
.toggle-nav:active {
    text-decoration: none;
    color: $color__text-toggle-nav;
    display: none;
    margin-right: 5px;
    font-size: 1.5em;
    
	@media only screen and (max-width: 580px) {
        display: inline-block;
    }
}
