/**
 * Primary Navigation
 */
.main-navigation {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }    

    li {
        position: relative;
        float: left;
        margin-left: 15px;
        
        &.current-menu-item,
        &.current-menu-parent {
            > a {
                color: $color__link-navigation-current-item;                
            }
        }
    }

    a {
        color: $color__link-navigation;
        text-decoration: none;
        display: block;
    }
    
    & > ul > li {
        float: left;
    }
    
    .menu-item-has-children > ul > li > a{
        padding: 10px 10px;
    }
    
    & > ul > li:hover > a{}
    
    /* Sub/Children Menu */
    .sub-menu,
    .children {
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 1;
        min-width: 200px;
        display: none;
    }
    
    li:hover > .sub-menu,
    li:hover > .children {
        display: block;
    }
    
    .sub-menu a,
    .children a {
        padding: 5px 10px;
    }
    
    .sub-menu li:hover a,
    .children li:hover a {}
    
    /* Grandchildren Menu */
    .sub-menu .sub-menu,
    .children .children {
        position: relative;
    }
    
	@media only screen and (max-width: 580px) {
        display: none;
    }    

}

.toggle-nav,
.toggle-nav:hover,
.toggle-nav:visited,
.toggle-nav:active {
    text-decoration: none;
    color: $color__text-toggle-nav;
    display: none;
    margin-right: 5px;
    font-size: 1.5em;
    
	@media only screen and (max-width: 580px) {
        display: inline-block;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
		margin-top: 15px;
	}

	.nav-previous,
	.prev-post {
		flex: 1 0 50%;
	}

	.nav-next,
	.next-post {
		text-align: end;
		flex: 1 0 50%;
	}
	
	a {
    	text-decoration: none;
    	color: $color__link-navigation;
	}
}
