.author {
    .author-header {
        width: 100%;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        margin-right: auto;
        margin-left: auto; 
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3rem; 
        flex-direction: column;       
    
        @include bp(mobile) {
            max-width: 96%;
        } 
        
        @include bp(tablet-s) {
            max-width: 570px;
            flex-direction: row;
        }   
    
        @include bp(tablet) {
            max-width: 720px;
        }
        
        @include bp(desktop) {
            max-width: 960px;
        }
        
        @include bp(desktop-m) {
            max-width: 1140px;
        }        
    
        @include bp(desktop-w2) {
            max-width: 1320px;
        }                

        .author-column {
            flex-basis: 0;
            flex-grow: 1;
            min-width: 0;
            word-break: break-word;
            overflow-wrap: break-word;
            
            &:first-child {
                flex: 0 1 auto;
                margin-right: 1.25rem;
            }
            
            &:last-child {}
        }
        
        h1 {
            margin: 0;
            line-height: 1;
        }
        
        .author-image {
            text-align: center;          
            @include bp(tablet-s) {
                text-align: left;
            }
            
            img {
                border-radius: 15px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }
        
        .author-name {
            margin: 1rem 0;

            @include bp(tablet-s) {
                margin-top: 0rem;
            } 
        }
    }
}