.coming-soon-html,
.coming-soon-body {
    height: 100%;
}

.coming-soon-body { 
    display: flex;
    flex-direction: column;
           
    .site-header {
        background: $color__background-footer;
        color: $color__text-footer;        
        height: 5rem;
    }
    
    .cs-wrap {
        flex: 1 0 auto; 
        text-align: center;
    }
    
    .cs-logo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 2rem; 
    }
    
    .entry-header {
        font-size: 1rem;
        
        .entry-title {
            margin: 0;
        }
    }   
    
    .entry-content {
        font-size: 1rem;
        margin-bottom: 0;
    }    
    
}

.coming-soon-footer {
    flex-shrink: 0;
    
    .footer-widgets {
        padding: 0;
    }
    
    .footer-content {                      
        h3 {
            font-size: 16px;
            margin-bottom: 0;
            padding: 0;
            color: $color__text-footer;
            text-transform: uppercase;            
        }
        
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0; 
        }
        
        a,
        a:visited {
            color: $color__link-footer;        
        }
        
        a:focus,
        a:hover {
            color: $color__link-footer-hover;
        }
        
        .social-media {
            overflow: hidden;
            
            li {
                font-size: 30px;
                float: left;
                padding-right: 10px;
        
                a:hover {
                    color: $color__link-footer-hover;
                }
            }         
        }
    }
    
    .copyright {
        padding-top: 0;
    }
}
  
