.comments-area {
    a,
    a:hover,
    a:visited {
        text-decoration: none;
    } 
    
    .comments-title,
    .comment-body {
        word-wrap: break-word;
    }  
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
