.front-page-tagline {
    margin-bottom: 3rem;
    background: $blue-jeans;
    color: #fff;
    text-align: center;
    
    .wrapper {
        padding: 1.5rem;
    }
    
    .image-wrap {
        margin-bottom: 1rem;
    }
    
    img {
        width: 150px;
    }
    
    h1 {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: 0em;
        text-transform: uppercase;       
    }
}

.emdotbike-home-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    .flex-grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .flex-col {
            display: flex;
            flex-wrap: wrap;
            
            &:first-child {
                width: 60%;
                padding-right: 1.5rem;
                
                .post-thumbnail img {
                    height: 470px;
                }
                
                @include rbp(tablet) {
                    width: 100%;
                    padding-right: 0;
                    
                
                    .post-thumbnail {
                        height: 175px;
                        overflow: hidden;
                    }                    
                }
            }
            
            &:nth-child(2) {
                width: 40%;
                
                .post-thumbnail {
                    height: 125px;
                    overflow: hidden;                
                }
                
                .title h3 {
                    margin-bottom: 0;
                }
                
                .excerpt {
                    padding: 1rem 0;
                }
                
                @include rbp(tablet) {
                    width: 100%;
                }                
            }
        }
        
        .flex-item {
            margin-bottom: 1rem;
        }
        
        .post-thumbnail {
            display: inline-block;
        }
    }
    
    .more-articles {
        width: 100%;
        text-align: right;
        
        a {
            background-color: $lavender-blush;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 700;
            font-size: 1rem;
            letter-spacing: 1px;
            padding: 7px 15px;
            border-radius: 13px;
            border: none;            
        }
    }
}

/**
 * About section including parallax image above.
 */
.front-page-about {
    margin-top: 3rem;
    
    .image-wrap {
        background-size: cover !important;
        width: 100%;
        height: 400px;      
    }
    
    .about-text-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
        .text-inner {
            width: 50%;
            margin-top: 2rem;
            font-size: 1.25rem;
            font-style: italic;
            font-weight: 400;
            line-height: 1.75rem;
        }        
    }
}
