.front-page {
    .posts-grid {
        li {
            .wp-block-latest-posts__featured-image {
                a {
                    width: 100%;
                }
                
                img {
                    width: 100%;
                }
            }
            
            a {
                
            }
        }
    }
}

.front-page-tagline {
    margin-bottom: 3rem;
    background: $blue-jeans;
    color: #fff;
    text-align: center;
    
    .wrapper {
        padding: 1.5rem;
    }
    
    .image-wrap {
        margin-bottom: 1rem;
    }
    
    img {
        width: 150px;
    }
    
    h1 {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: 0em;
        text-transform: uppercase;       
    }
}

.front-page-about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
    margin-bottom: 30px;
    height: 300px; 
    overflow: hidden;
    
    .image-wrapper {
        width: 66.666666%;
        
        img {
            //height: 250px;
        }
    }
    
    .text-wrapper {
        width: 33.333333%;
        
        .text-inner {
            margin-left: 3rem;
        }
    }
}