.front-page-tagline {
    margin-bottom: 3rem;
    background: $blue-jeans;
    color: #fff;
    text-align: center;
    
    .wrapper {
        padding: 1.5rem;
    }
    
    .image-wrap {
        margin-bottom: 1rem;
    }
    
    img {
        width: 150px;
    }
    
    h1 {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: 0em;
        text-transform: uppercase;       
    }
}

.emdotbike-home-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    
    .first-col {
        flex: 0 0 auto;
        width: 46%;
        padding-right: 0.5rem;
        
        .post-item {
            position: relative;
            height: 100%;

            .excerpt {
                position: absolute;
                bottom: 0;
                background: #fff;
                padding: 1rem;
                
                p {
                    margin: 0;
                }
            }               
        }
    }
    
    .second-col,
    .third-col {
        flex: 0 0 auto;
        width: 27%; 
        padding-left: 0.25rem;
        padding-right: 0.25rem; 
        
        .post-item {
            &:last-child {
                p {
                    margin-bottom: 0;
                }
            }
        }           
    }
}