.sticky {
	display: block;
}

.post {
	margin: 0 0 1.5em;
	word-wrap: break-word;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary,
.entry-meta,
.footer-content {
/*
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 1rem;
	max-width: calc(100% - 2rem);
	
	@media only screen and (min-width: 768px) {
		margin: 0 10%;
		max-width: 80%;
	}
	
	@media only screen and (min-width: 1500px) {
		margin: 0 auto;
		max-width: 1200px;
	}
*/
	
    a,
    a:hover,
    a:visited {
        text-decoration: none;
    }	
}

.page-content,
.entry-content,
.entry-summary {
    margin-bottom: 30px;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-header,
.entry-header,
.archive-header {
    color: $color__text-header;
/*
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 1rem;
	max-width: calc(100% - 2rem);
	
	@media only screen and (min-width: 768px) {
		margin: 0 10%;
		max-width: 80%;
	}
	
	@media only screen and (min-width: 1500px) {
		margin: 0 auto;
		max-width: 1200px;
	}
*/
    
    a,
    a:hover,
    a:visited {
        text-decoration: none;
        color: #000;
    }
}

.page-header .entry-header {
    color: $color__text-header;
/*
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	max-width: 100%;
	
	@media only screen and (min-width: 768px) {
		margin: 0;
		max-width: 100%;
	}
	
	@media only screen and (min-width: 1500px) {
		margin: 0;
		max-width: 100%;
	}
*/
    
    a,
    a:hover,
    a:visited {
        text-decoration: none;
        color: $color__text-header-link;
    }
}

/*
.entry-header .entry-meta {
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	max-width: 100%;
	
	@media only screen and (min-width: 768px) {
		margin: 0;
		max-width: 100%;
	}
	
	@media only screen and (min-width: 1500px) {
		margin: 0;
		max-width: 100%;
	}
}
*/

.entry-meta {
    color: $color__text-entry-meta;
    
    a,
    a:hover,
    a:visited {
        text-decoration: none;
    }
    
    .author,
    .edit-link {
        margin-left: 10px;
    }
}

/*
.post-thumbnail {
    display: flex;
    justify-content: center;  
}
*/

/*
.posts-wrapper {
	padding-left: 15px;
	padding-right: 15px;
    padding-top: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    
	margin: 0 1rem;
	max-width: calc(100% - 2rem);
	
	@media only screen and (min-width: 768px) {
		margin: 0 10%;
		max-width: 80%;
	}
	
	@media only screen and (min-width: 1500px) {
		margin: 0 auto;
		max-width: 1200px;
	}   
}
*/

.single-post .post-thumbnail {
    text-align: center;
    max-height: 480px;
    overflow: hidden;
}