.sticky {
	display: block;
}

.post {
	margin: 0 0 1.5em;
	word-wrap: break-word;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary,
.entry-meta,
.footer-content {
    a,
    a:hover,
    a:visited {
        text-decoration: none;
        color: $color__link;
    }	
}

.page-content,
.entry-content,
.entry-summary {
    margin-bottom: 30px;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-header,
.entry-header,
.archive-header {
    color: $color__text-header;

    a,
    a:hover,
    a:visited {
        text-decoration: none;
        color: $color__link;
    }
}

.page-header .entry-header {
    color: $color__text-header;
    
    a,
    a:hover,
    a:visited {
        text-decoration: none;
        color: $color__link;
    }
}

.entry-meta {
    color: $color__text-entry-meta;
    
    a,
    a:hover,
    a:visited {
        text-decoration: none;
        color: $color__link;
    }
}

/**
 * Single post
 */
.single-post {         
    /**
     * content after main article
     */
    .entry-meta {
        color: $black;
        width: 100%;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        margin-right: auto;
        margin-left: auto; 
    
        @include bp(mobile) {
            max-width: 96%;
        } 
        
        @include bp(tablet-s) {
            max-width: 570px;
        }   
    
        @include bp(tablet) {
            max-width: 720px;
        }
        
        @include bp(desktop) {
            max-width: 960px;
        }
        
        @include bp(desktop-m) {
            max-width: 1140px;
        }        
    
        @include bp(desktop-w2) {
            max-width: 1320px;
        }       
        
        a,
        a:visited {
            color: $black;
        }
        
        .entry-date {
            font-size: 1rem;
        }
        
        .byline {
            font-size: 0.90rem;
        }
                
        .tags-title,
        .categories-title {
            font-size: 0.9rem;
        }
        
        .tag-links a,
        .categories-link a {
            display: inline-block;
            margin-right: 0.25rem;
            margin-top: 0.5rem;
        	border: 1px solid;
        	border-color: $color__border-button;
        	border-radius: 3px;
        	background: $color__background-button;
        	color: rgba(0, 0, 0, 0.8);
        	font-size: 0.75rem;
        	line-height: 1;
        	padding: 5px 10px;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 700;
            letter-spacing: 1px;
            border-radius: 5px;	                
        }
    
        .categories-list {
            margin-top: 1.5rem;
            
            .categories-title {}
        
            .categories-link {}
        }
    }
} 

.parallax-image {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;        
}

/**
 * Used on various pages including archive and search.
 */
.page-posts-grid {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-between;     

    .post {  
        width: 100%;
        margin: 0 0 25px;
        position: relative; 
        
        @include bp(tablet) {
            width: 48%;
        }        
        
        img {
            width: 100%;
        }
    }
} 