.sticky {
	display: block;
}

.post {
	margin: 0 0 1.5em;
	word-wrap: break-word;
}

.container-fluid {
    padding: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary,
.entry-meta,
.footer-content {
    a,
    a:hover,
    a:visited {
        text-decoration: none;
        color: $color__link;
    }	
}

.page-content,
.entry-content,
.entry-summary {
    margin-bottom: 30px;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-header,
.entry-header,
.archive-header {
    color: $color__text-header;

    a,
    a:hover,
    a:visited {
        text-decoration: none;
        color: $color__link;
    }
}

.page-header .entry-header {
    color: $color__text-header;
    
    a,
    a:hover,
    a:visited {
        text-decoration: none;
        color: $color__link;
    }
}

.entry-meta {
    color: $color__text-entry-meta;
    
    a,
    a:hover,
    a:visited {
        text-decoration: none;
        color: $color__link;
    }
}

.single-post .post-thumbnail {
    text-align: center;
    max-height: 480px;
    overflow: hidden;
}
